<!DOCTYPE html>
<html>
<head>
  <title>Create A Post</title>
</head>
<h1>Create your post!</h1>
<form action="/posts" method="post">
  <input type="text" name="name"><br>
  <input type="text" name="content"><br>

  <input type="submit" id="submit" value="Create Post">
</form>
</html>
